*{
    padding: 0;
    margin: 0;
}

/* body es un nombre de etiqueta */
body{  
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

/*numeral para ref a id */
#main-container{  
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

/* .text {} punto para referencia class  */